<div class="content container-fluid">
    <div class=" row">
      <div class=" col-sm-12 text-center" style="margin-bottom: 2vh;">
        <h5 class=" card-category">Deep Learning Audio Analysis</h5>
        <h2 class=" card-title">Pipelines</h2>
        <img src="../../../assets/img/logo (2).png" style="width: 50vh; height: 20vh;">
      </div>
        <div class=" col-sm-12 col-md-12">
            <div class=" card card-chart">
                <div class=" card-header">
                    <div class=" row">
                      
                        <div class=" col-sm-12 text-center">
                            <h5 class=" card-category">Step 1</h5>
                            <h2 class=" card-title">Audio Selection</h2>
                        </div> 
                    </div>
                </div>
                <div class=" card-body">
                    <!-- Upload file from pc -->
                    <div class="col-sm-12 col-md-6 text-center" >
                        <div class="file-upload">   
                            <input 
                            type="file" 
                            class="file-input"     
                            (change)="onFileSelected($event)"
                            accept="audio/*"
                            #fileUpload
                            > 
                        </div>
                    </div>

  
                    <div class="col-md-12" [ngStyle]="{ display: !this.fileToUpload ? 'none' : 'block' }"  
                    >
                      <div id="waveform">
                          <div class="progress progress-striped active" id="progress-bar">
                              <div class="progress-bar progress-bar-info"></div>
                          </div> 
                          <!-- Here be waveform -->
                      </div>
                      <div id="wave-spectrogram"></div>
                      <div id="wave-timeline"></div>
                      <div class="controls text-center">
                          <div class="row">
                              <div class="col-sm-7">
                                  <button 
                                  class="btn btn-warnings" 
                                  (click)="this.wavesurfer.play()" 
                                  >
                                  <i class="tim-icons icon-triangle-right-17"></i>Play
                                  </button>
                                  
                                  <button 
                                  class="btn btn-warnings" 
                                  (click)="this.wavesurfer.pause()" 
                                  >          
                                    <i class=" tim-icons icon-button-pause"></i>Pause
                                  </button>
                      
                                </div>
                  
                                <div class="col-sm-1">
                                    <i class="glyphicon glyphicon-zoom-in"></i>
                                </div>
                                
                                <div class="col-sm-3">
                                    <input 
                                    [(ngModel)]="slider" 
                                    (ngModelChange)="setZoom($event)"
                                    data-action="zoom" 
                                    type="range" 
                                    [min]="0" 
                                    [max]="10000" 
                                    
                                    style="width: 100%" />
                                </div>
                                
                                <div class="col-sm-1">
                                    <i class="glyphicon glyphicon-zoom-out"></i>
                                </div>
                  
                  
                          </div>
                      </div>
          
                  </div>

                </div>
              </div>  

        </div>

        
          
        <div class="col-sm-12 col-md-12" *ngIf="this.fileToUpload != null">
            <div class=" card card-chart">
                <div class=" card-header">
                  <div class=" row">
                    <div class=" col-sm-12 text-center">
                      <h2 class=" card-title">Audio Analysis Pipelines</h2>
                    </div>
                  </div>
                </div>
                <div  class="card-body" >
                  <div style="overflow:auto;">
                    <table class="table" >
                      <thead>
                        <tr>
                          <!-- <th class="text-center">#</th> -->
                          <th>ID</th>
                          <th>Name</th>
                          <th>Process</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let pipeline of this.pipelines| keyvalue; let i = index">
                        <tr>
                          <!-- <td class="text-center">{{i}}</td> -->
                          <td style="width: 5%;">{{ pipeline.key }} </td>
                          <td>{{ pipeline.value.name }} </td>
                          <td style="width: 45%;">{{ pipeline.value.description }} </td>                    
                          <td style="width: 5%;"> <button 
                            class="btn btn-primary btn-fab btn-icon btn-round" 
                            (click)="getPipeline(pipeline)"
                            [disabled]="this.fileToUpload ? false : true"
                            > 
                            <i class="tim-icons icon-triangle-right-17"></i></button></td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  
                  
                </div>
              </div>
        </div>


        <div class="col-sm-12 col-md-12" *ngIf="this.pipeline != null">
          <div class=" card card-chart">
              <div class=" card-header">
                <div class=" row">
                  <div class=" col-sm-12 text-center">
                    <h2 class=" card-title">Author: {{this.pipeline?.author}}</h2>
                  </div>
                </div>
              </div>
              <div  class="card-body" >
                
                <div class="row" [align]="'center'">
                  <div class="col-sm-12">
                    <h4>Pipeline: {{this.pipeline?.name}} </h4>
                  </div>
                  <div class="col-sm-12">
                    <h4>Description: {{this.pipeline?.notes}}</h4>
                  </div>
                  <div class="col-sm-12">
                    <h5> Creation Time: {{this.pipeline?.creationTime | date}}</h5>
                  </div>
                </div>
                <div 
                class="col-sm-12" 
                style="border: 1pt; border-color: violet; border-style: solid; margin-bottom: 5%;" 
                *ngFor="let step of this.pipeline?.steps| keyvalue; let j = index">
                  <div class="row text-center">
                    <div class="col-sm-12">
                      <h4>Step: {{step.key}}</h4>
                    </div>
                    <div class="col-sm-12">
                      <h6>Input : {{step.value.inputFileId}}</h6>
                    </div>
                    <div class="col-sm-12">
                      <i class=" tim-icons icon-minimal-down"></i>
                    </div>
                  </div>
                  <div class="row text-center" style="border: 1pt; border-color: red; border-style: solid;">
                    <div class="col-sm-12 col-md-12">
                      <h6>Task : </h6>{{step.value.task}}
                    </div>
                    <div class="col-sm-12 col-md-12">
                      <h6>System : </h6>{{step.value.system}}
                    </div>
                    <div class="col-sm-12 col-md-12">
                      <h6>Performance : </h6>{{step.value.performance}}
                    </div>
                    <!-- <div class="col-sm-12 col-md-12">
                      <h6>API : </h6>{{step.value.api}}
                    </div> -->
                  </div>
                  <div class="row d-flex justify-content-center">
                    <div *ngFor="let outputFileId of step.value.outputFileIds" class="col-sm-12 col-md-3 text-center">
                      <i class=" tim-icons icon-minimal-down"></i>  
                      <p>{{outputFileId}}</p> 
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 text-center">
                    <button 
                      class="btn btn-primary" 
                      (click)="runPipeline(this.selectedPipeline, this.fileUpload)" 
                    >Run</button>
                  </div>
                </div>
              </div>
            </div>
      </div>

      <div class="col-sm-12 text-center" *ngIf="this.processing">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>


        <div class="col-sm-12" *ngIf="this.process">
            <div class=" card card-chart">
                <div class=" card-header">
                  <div class=" row">
                    <div class=" col-sm-12 text-center">
                      <h5 class=" card-category">Pipeline Results</h5>
                      <h2 class=" card-title">{{this.selectedPipeline.name}}</h2>
                    </div>
                  </div>
                </div>
                <div  class="card-body" id="demo">
                  <div class=" row"  *ngFor="let step of this.selectedPipeline?.steps; let i  = index;">
                    <div class=" col-sm-12">
                      <div class=" card card-chart">
                        <div class=" card-header">
                          <div class=" row" >
                            <div class=" col-sm-12 text-center">
                              <h5 class=" card-category">Step {{i + 1}}</h5>
                              <h1 class="card-title">Task: {{step.task}} - {{step.system}} - {{step.dataset}} - {{step.performance}}</h1>
                              <h3 class="card-title text-center">Input File: </h3>
                              <h4>{{step.inputFilename}}</h4>
                            </div>
                          </div>
                        </div>
                        <div  class=" card-body" id="demo" >
                        
    
                          <div class="row">
                            
                  
                            <div class="col-sm-12 text-center" *ngIf="step.processing">
                              <div class="lds-facebook"><div></div><div></div><div></div></div>
                            </div>
                            
                            <div class="col-sm-12 col-md-12 text-center" *ngIf="step.analysisResult"> {{step.analysisResult}}</div>
                            <div class="col-sm-12 col-md-4 text-center" *ngFor="let separatedFile of step.outputFilenames; let j = index">  
                              <h3 class="text-center"> Output File {{j}}: </h3>
                              <h4 class="text-center"> {{separatedFile}} </h4>
                              <div align="right">
                                <button 
                                class="btn btn-warnings" 
                                (click)="this.saveSeparatedFile(step, j)"
                                 >          
                                  <i class=" tim-icons icon-cloud-download-93"></i>
                                </button>
                              </div>
                              <div [id]="'waveform-'+ i +'-'+j">
                                <!-- Here be waveform -->
                              </div>
                              <div [id]="'wave-spectrogram-'+i+'-'+j"></div>
                              <div [id]="'wave-timeline-'+i+'-'+j"></div>
                              <div class="controls text-center">
                                <button 
                                class="btn btn-warnings" 
                                data-action="play" 
                                (click)="step.separatedFileWavesurfer[j].play()" >
                                  <i class="tim-icons icon-triangle-right-17"></i>Play
                                </button>
                                
                                <button 
                                class="btn btn-warnings" 
                                data-action="play" 
                                (click)="step.separatedFileWavesurfer[j].pause()"
                                 >          
                                  <i class=" tim-icons icon-button-pause"></i>Pause
                                </button>
                                
                              </div>
                            </div>
                            
                          </div>  
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <div class="col-sm-12" *ngIf="this.processError">
            <div class=" card card-chart">
                <div class=" card-header">
                  <div class=" row">
                    <div class=" col-sm-12 text-center">
                      <h5 class=" card-category">Preprocessing</h5>
                      <h2 class=" card-title">Audio Error</h2>
                      Something went wrong !!!
                    </div>
                  </div>
                </div>
                <div  class=" card-body" id="demo">
                
                </div>
              </div>
        </div>
    </div>
</div>