
<script src="https://unpkg.com/wavesurfer.js"></script>
<div class=" content">
  <ngb-alert [type]="'success'" *ngIf="!staticAlertClosed5" [dismissible]="false">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed5 = true">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>
      {{ this.succesMsg }}
    </span>
  </ngb-alert>
  <ngb-alert [type]="'warning'" *ngIf="!staticAlertClosed6" [dismissible]="false">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed6 = true">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>
      {{ this.errorMsg }}
    </span>
  </ngb-alert>
  <div class=" row">
    <div class=" col-sm-12 text-center" style="margin-bottom: 2vh;">
      <h5 class=" card-category">Deep Learning Audio Analysis</h5>
      <h2 class=" card-title">Pipeline Creation</h2>
      <img src="../../../assets/img/logo (2).png" style="width: 20vh; height: 10vh;" >
      <!-- <img src="../../../assets/img/librosa.png" style="width: 50vh; height: 20vh;"> -->
    </div>


    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-12 text-center">
              <h5 class=" card-category">Step 0</h5>
              <h2 class=" card-title">Audio Selection</h2>
            </div> 
          </div>
        </div>
        <div class=" card-body text-center">
        <div class="row">
          <!-- Upload file from pc -->
          <div class="col-sm-6 col-md-6" *ngIf="this.fileToUpload == null">
            <h2 class=" card-title">Insert Audio to Analyse </h2>
            <label for="step">Choose a file</label>
            <input 
              id = "step"
              type="file" 
              (change)="onFileSelected($event)"
              accept="audio/*"
            >
            <div *ngIf="this.fileToUpload">
              <button  
              class="btn btn-warnings" data-action="play" 
              (click)="uploadFile()" >
              <i class="glyphicon glyphicon-play"></i>
              Upload
            </button>
          </div>
          </div>

          <div class="col-sm-6 col-md-6" *ngIf="this.fileToUpload == null">
            <!-- Select file from Server -->
            <h2 class="card-title">Download a File</h2>
            <div style="overflow: scroll; height: 40vh;">
              <table class="table">
                <thead>
                  <tr>
                    <th>Actions</th>
                    <th class="text-left">Title</th>
                  </tr>
                </thead>
                <tbody *ngFor="let file of this.filesList | keyvalue; let i = index">
                  <tr>
                    <td>
                      <button 
                      type="button" 
                      rel="tooltip" 
                      class="btn btn-info btn-sm btn-icon"
                      (click)="this.downloadFile(file.value.title)"
                      >
                        <i class="tim-icons icon-cloud-download-93"></i>
                      </button> 
                      <!-- <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon">
                        <i class="tim-icons icon-simple-remove"></i>
                      </button> -->
                    </td>
                    <td class="text-left">{{ file.value.title }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Here be waveform -->
          <div class=" col-sm-12"  *ngIf="this.fileName && this.fileName!==''" >
            <h2 class=" card-title">Audio Player & Visualizer</h2>
            <h3 class=" card-title">{{this.fileName}}</h3>
            <div  class=" card-body" id="demo">
              <div id="waveform">
                <div class="progress progress-striped active" id="progress-bar">
                  <div class="progress-bar progress-bar-info"></div>
                </div> 
              </div>
              <div class="controls text-center">
                <button class="btn btn-warnings" data-action="play" 
                (click)="this.wavesurfer.play()" >
                  <i class="tim-icons icon-triangle-right-17"></i>Play
                </button>
                
                <button class="btn btn-warnings" data-action="play" 
                (click)="this.wavesurfer.pause()" >          
                  <i class=" tim-icons icon-button-pause"></i>Pause
                </button>

                <button class="btn btn-warnings" data-action="play" 
                (click)="this.addStep()" >
                  <i class="tim-icons ui-1_simple-add"></i>Add Step
                </button>
                      
              </div>

            </div>
          </div>
        </div>
       
      </div>
      
    </div>
  </div>
</div>

<div class=" row"  *ngFor="let step of this.pipeline; let i  = index;">
  <div class=" col-12">
    <div class=" card card-chart">
      <div class=" card-header">
        <div class=" row" >
          <div class="col-sm-12 text-right">
            <button type="button"  
            class="btn btn-fab" 
            (click)="deletePipelineStep(step)"> 
            <i class="tim-icons icon-simple-remove"></i>
            </button>
          </div>
          <div class=" col-sm-12 text-center">
            <h5 class=" card-category">Step {{i + 1}}</h5>
            <h2 *ngIf="step.fileName" class="card-title text-center">File: {{step.fileName}}</h2>
            <h2 *ngIf="step.task" class="card-title">Task: {{step.task}} - {{step.system}} - {{step.dataset}} - {{step.performance}}</h2>
          </div>
        </div>
      </div>
      <div  class=" card-body" id="demo" >
        <div class="row">
          <div class="col-sm-12">
            <!-- Here select audio file from pipeline -->
          <div *ngIf="!step.fileName" style=" overflow: auto;height: 40vh;" >
            <h2 class="card-title text-center">Select audio from pipeline</h2>
            <table class="table" >
              <thead>
                <tr>
                  <!-- <th class="text-center">#</th> -->
                  <th class="text-right">Actions</th>
                  <th>Title</th>
                </tr>
              </thead>
              <tbody *ngFor="let file of this.pipelineFiles; let i = index">
                <tr>
                  <!-- <td >{{i}}</td> -->
                  <td class="td-actions text-right">
                    <button 
                    type="button" 
                    rel="tooltip" 
                    class="btn btn-info btn-sm btn-icon"
                    (click)="this.selectPipelineFile(file)"
                    >
                      <i class="tim-icons icon-check-2"></i>
                    </button>
                  </td>
                  <td>{{ file.name }} </td>
                </tr>      
              </tbody>
            </table>
          </div>
          </div>
        </div>

        <div class="row" *ngIf="step.api == '' && step.fileName">
          <div class="col-sm-12 col-md-12"> 
            <button type="button"  
              class="btn btn-primary" 
              *ngFor="let AudioAnalysisStep of this.AudioAnalysisSteps1 | keyvalue;"
              (click)="onSelectTask(AudioAnalysisStep.key)"> 
                {{AudioAnalysisStep.key}} 
            </button>
          </div>
          <div class="col-sm-12 col-md-12" 
            *ngFor="let AudioAnalysisStep of this.AudioAnalysisSteps1 | keyvalue;">  
            <div *ngIf="AudioAnalysisStep.key == step.task">
              <div class="card card-chart">
                <div class=" card-header">
                  <div class=" row">
                    <div class=" col-sm-12 text-center">
                      <h5 class=" card-category">Speechbrain</h5>
                      <h2 class=" card-title">{{ AudioAnalysisStep.key }}</h2>
                    </div>
                  </div>
                </div>
                <div  class="card-body" >
                  <div style="overflow:auto; height: 60vh;">
                    <table class="table" >
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>System</th>
                          <th>Dataset</th>
                          <th>Performance</th>
                          <th>api</th>
                        </tr>
                      </thead>
                        <tbody *ngFor="let step of AudioAnalysisStep.value">
                        <tr>
                          
                          <td class="text-center">{{i}}</td>
                          <td>{{ step.system }} </td>
                          <td>{{ step.dataset }} </td>
                          <td>{{ step.performance }} </td>
                          <td> <button 
                            class="btn btn-primary btn-fab btn-icon btn-round" 
                            (click)="onSelectTaskMethod(step)"
                            [disabled]="step.api !== '' ? false : true"
                            > 
                            <i class="tim-icons icon-triangle-right-17"></i></button></td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>                 
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12 text-center" *ngIf="step.task !== '' && step.api !== '' && step.processed==false ">
            <button type="button"  class="btn btn-primary" 
              (click)="onRunTask(step, i)"> 
              Run
            </button>
          </div>

          <div class="col-sm-12 text-center" *ngIf="step.processing">
            <div class="lds-facebook"><div></div><div></div><div></div></div>
          </div>
          
          <div class="col-sm-12 col-md-12 text-center" *ngIf="step.analysisResult"> {{step.analysisResult}}</div>

          <div class="col-sm-12 col-md-12" *ngFor="let separatedFile of step.separatedFilenames; let j = index">  
            <h4> {{separatedFile}} </h4>
            <div align="right">
              <button 
              class="btn btn-warnings" 
              (click)="this.saveSeparatedFile(step, j)"
               >          
                <i class=" tim-icons icon-cloud-download-93"></i>
              </button>
            </div>
            <div [id]="'waveform-'+ i +'-'+j">
              <!-- Here be waveform -->
            </div>
            <div [id]="'wave-spectrogram-'+i+'-'+j"></div>
            <div [id]="'wave-timeline-'+i+'-'+j"></div>
            <div class="controls text-center">
              <button 
              class="btn btn-warnings" 
              data-action="play" 
              (click)="step.separatedFileWavesurfer[j].play()" >
                <i class="tim-icons icon-triangle-right-17"></i>Play
              </button>
              
              <button 
              class="btn btn-warnings" 
              data-action="play" 
              (click)="step.separatedFileWavesurfer[j].pause()"
               >          
                <i class=" tim-icons icon-button-pause"></i>Pause
              </button>
              
            </div>
          </div>
          <div class="col-sm-12 col-md-12 text-center" *ngIf="step.processed">
            <button class="btn btn-warnings"
              (click)="this.addStep()" >
                <i class="tim-icons icon-simple-add"></i>Add Step
            </button>
            <button class="btn btn-warnings"
            (click)="this.openSavePipeline()" >
              <i class="tim-icons icon-pin"></i>Save Pipeline
            </button>
          </div>
        </div>  
    </div>
  </div>
  </div>
</div>


<div class="row" *ngIf="this.savingPipeline">
  <div class="col-sm-12 text-center" >
    <div class=" card card-chart">
      <div class=" card-header">
        <div class="row" align="center">
          <div class="col-sm-12 text-right">
            <button class="btn btn-warnings" data-action="play" 
            (click)="this.closeSavePipeline()" >
              <i class="tim-icons icon-simple-remove"></i>
            </button>
          </div>
          <div class=" col-sm-12 text-center">
            <h5 class=" card-category">Pipeline Details</h5>
            <h2 class=" card-title">Insert Pipeline Name  </h2>
          </div> 
        </div>
      </div>
      <div class=" card-body text-center">
        <div class="row">
          <div class="col-sm-12 col-md-3">Pipeline</div>
          <div class="col-sm-12 col-md-9">
            <input [(ngModel)]="pipelineToStore.name" type="text" style="width: 100%;">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3">Author</div>
          <div class="col-sm-12 col-md-9">
            <input [(ngModel)]="pipelineToStore.author" type="text" style="width: 100%;">
          </div>
            
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3">Notes</div>
          <div class="col-sm-12 col-md-9">
            <input [(ngModel)]="pipelineToStore.notes" type="text" style="width: 100%;">
          </div>
        </div>
        
        <div class="col-sm-12">
          <button class="btn btn-warnings" data-action="play" 
            (click)="this.savePipeline()" >
              <i class="tim-icons icon-pin"></i>Save
          </button>
        </div>

      
      </div>
    </div>
  </div>
</div>

</div>
